#ty-screen2 {

  @include margin-padding(('p-t': (115 0.8), 'p-b': (130 0.8) ));
  background: url('../img/ty/bg_2.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .video-container {
    position: relative;

    .video-itself {
      @include width(920, 0.8);
      padding-top: RelativeUnits(500, 0.8);
      @include border-radius(14);
      overflow: hidden;
      position: relative;
    }

    iframe {
      border: 0;
      height: 101%;
      left: 0;
      position: absolute;
      top: 0;
      min-width: 101%;
      background: #000;
      overflow: hidden;
    }
  }

  @include _tablet-big {
    background: #fcfcfd;
  }
}
