#ty-screen1 {

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  background: url('../img/ty/bg_1.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;

  @include min-height(913, 0.5);

  .logo-wrap {
    position: absolute;
    @include width(250, 0.29);
    top: RelativeUnits(-100, 0.29);
    left: 16%;
  }

  .loading-container {
    align-self: flex-end;
    @include margin-padding(('m-r': (100 1) ));

    .loading-title {
      color: #919ab6;
      text-align: center;
      font-weight: 500;
      @include margin-padding(('m-b': (10 0.1) ));
    }
  }

  .loading-bar, .loading-progress {
    @include width(340, 0.2);
    @include height(60, 0.2);
    @include min-width(340, 0.2);
    @include min-height(60, 0.2);
    @include border-radius(32);
  }

  .loading-bar {
    background-color: #eaeff7;
    overflow: hidden;
  }

  .loading-progress {
    left: -25%;
    background: url('../img/stripes.png'), #a3cd5b;
    background-size: 130% auto;
    background-position: center;
  }

  .loading-text {
    font-size: RelativeUnits(16, 0.2);
    letter-spacing: RelativeUnits(1, 0.2);
    line-height: RelativeUnits(18, 0.2);
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    filter: drop-shadow(0px 2px 2px rgba(81,108,34,0.4));
  }

  .w-line {
    @include border-radius(6);
    background-color: #fee6a5;
    padding: RelativeUnits(3, 0.2) RelativeUnits(10, 0.2);
  }

  .main-content {
    @include width(840, 0.4);
    @include margin-padding(('m-l': (375 1), 'm-t': (100, 0.5) ));

    h2 {
      @include FontLineSize(0.3, 0.3, 0.4, 40, 20);
      letter-spacing: 1px;
      font-weight: 400;
      @include margin-padding(('m-t': (20, 0.5), 'm-b': (20, 0.5) ));
    }

    .circles-text {
      line-height: RelativeUnits(34, 0.2);
      @include margin-padding(('m-b': (30, 0.5) ));
    }

    .circles-wrap {
      @include min-width(48, 0.2);
      @include width(48, 0.2);
      @include margin-padding(('m-t': (6, 0.2), 'm-r': (10, 0.2) ));
      height: 100%;
      display: block;
    }

    .container-lined {
      @include width(720, 0.71);
      @include border-radius(20);
      filter: drop-shadow(0 0 37.5px rgba(32,44,83,0.1));
      background-color: #ffffff;
      padding: RelativeUnits(10, 0.71);

      &:after {
        content: '';
        display: block;
        width: calc(100% - #{RelativeUnits(20, 0.71)});
        height: calc(100% - #{RelativeUnits(20, 0.71)});
        top: RelativeUnits(10, 0.71);
        border: 1px solid #e3e3ef;
        position: absolute;
        @include border-radius(20);
      }

      .item, .c-title {
        @include min-height(83, 0.2);
      }

      h3 {
        max-height: -moz-fit-content;
        min-height: -moz-fit-content;
        max-height: fit-content;
        min-height: fit-content;
        max-height: -webkit-fit-content;
        min-height: -webkit-fit-content;
      }

      .item {
        padding: 0 RelativeUnits(15, 0.71);
        border-top: 1px dashed #e3e3ef;
        width: 100%;
        h3 {
          @include FontLineSize(0.3, 0.3, 0.4, 19, 7);
        }
      }

      .icon-wrap {
        @include min-width(45, 0.71);
        @include width(45, 0.71);
        @include min-height(45, 0.71);
        @include margin-padding(('m-r': (20, 0.71), 'm-t': (6, 0.71) ));
      }
    }
  }

  .frank-wrap {
    @include width(865, 1.3);
    bottom: 0;
    right: 0;
  }

  .gift-wrap {
    @include width(410, 1);
    bottom: 0;
    left: RelativeUnits(-120, 1);
    z-index: 0;
  }

  @include _tablet-middle {
    display: flex;
    flex-direction: column;
    align-items: center;

    .main-content {
      margin-left: 0;
      margin-top: 100px;
      max-width: 90vw;

      h2 {
        text-align: center;
      }
    }

    .logo-wrap {
      position: absolute;
      width: 250px;
      top: -100px;
      left: calc(50vw - 125px);
    }

    .loading-container {
      align-self: center;
      margin-right: 0;
    }

    .frank-wrap {
      width: 35vw;
    }

    .c-title {
      margin: 0 10px;
      text-align: center;
    }

  }

  @include _tablet-small {
    background-size: contain;
    background-position: right calc(100% - 280px);

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }

    .main-content {
      h2 {
        font-size: 28px;
        letter-spacing: 1px;
        line-height: 38px;
      }
    }

    .circles-and-text {
      flex-direction: column;
      align-items: center;
    }

    .circles-text {
      font-size: 15px;
      letter-spacing: 0px;
      line-height: 25px;
      text-align: center;
    }

    .circles-wrap {
      transform: rotate(90deg);
      min-width: 50px !important;
      margin-bottom: 20px;
    }

    .w-line {
      background: none;
      padding: 0;
    }

    .container-lined {
      width: 100% !important;
      min-height: 290px !important;
      margin-top: 260px;

      .icon-wrap {
        align-self: flex-start !important;
      }
    }

    .c-title {
      font-size: 17px;
      letter-spacing: 0px;
      line-height: 25px;
    }

    .item {
      border: none !important;
      min-height: auto !important;
      margin-bottom: 20px;
      h3, span {
        font-size: 13px !important;
        letter-spacing: 0px !important;
        line-height: 19px !important;
        font-family: "Uni Neue" !important;
        font-weight: 400 !important;
      }
    }

    .frank-wrap {
      left: calc(50vw - 120px);
      width: 290px;
      z-index: 0;
      bottom: 295px;
    }

    .gift-wrap {
      bottom: 235px;
      width: 150px;
    }
  }
}
