body {
  @include font('Uni Neue', 400);
  background: #fff;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  align-self: flex-start;
  justify-self: flex-start;
}

* {
  z-index: 1;
}

h2, h3, h4, h5, a, p { color: #000; }

h2 {
  @include FontLineSize(0.4, 0.4, 0.2, 56, 7);
  font-weight: 100;
  @include _phone-big {
    font-size: 28px;
    letter-spacing: 1px;
    line-height: 38px;
  }
}
h3 {
  @include FontLineSize(0.3, 0.3, 0.4, 20, 7);
  font-weight: 400;
}
h4 {
  @include FontLineSize(0.25, 0.25, 0.5, 17, 7);
  font-weight: 400;
}
h5 {
  @include FontLineSize(0.2, 0.2, 0.6, 16, 7);
  font-weight: 400;
}
h6 {
  @include FontLineSize(0.18, 0.18, 0.64, 15, 7);
  font-weight: 400;
}
p, a {
  @include FontLineSize(0.15, 0.15, 0.7, 14, 7);
  font-weight: 400;
}

$gray: #78829b;
$yellow: #ffd97d;

.book {
  font-family: "Uni Neue Book";
}

.no-book {
  font-family: "Uni Neue";
}

.green-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  @include min-width(367, 0.39);
  @include min-height(86, 0.39);
  @include border-radius(14);
  @include margin-padding(('p-l': (13 0.51), 'p-r': (13 0.51) ));
  filter: drop-shadow(0px 6px 0px #8ab249);
  background-image: linear-gradient(0deg, #94c14c 0%, #a6ce5d 100%);
  position: relative;
  transition: 1s;
  overflow: hidden;
  box-sizing: content-box;

  h5 {
    font-weight: 500;
    color: #fff;
    @include FontLineSize(0.25, 0.25, 0.5, 16, 7);
    letter-spacing: 1px;
    filter: drop-shadow(0px 2px 2.5px #7ea245);
    text-transform: uppercase;
  }

  &:after {
    display: block;
    position: absolute;
    right: 10%;
    content: '';
    background: url('../img/blink.png');
    @include width(100, 0.3);
    height: 100%;
    background-size: auto 180%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  &:hover {
    animation: 0.4s linear 0s infinite alternate move-btn;
  }

  &:hover::after {
    animation: 0.6s ease-in move-blink;
    animation-fill-mode: forwards;
  }

  .img-wrap {
    @include min-width(26, 0.39);
    @include width(26, 0.39);
    @include margin-padding(('m-l': (13 0.3), 'm-b': (10 0.39) ));
  }
}

.button-container {

  h6 {
    color: #9199b5;
    font-weight: 400;
  }

  .before-text {
    @include margin-padding(('m-r': (13 0.2) ));
    @include width(22, 0.39);
  }

  .underbutton-shadow {
      -webkit-box-shadow: 0px 12px 16px -5px #ccdbb5;
      box-shadow: 0px 12px 16px -5px #9fc957;
      background: transparent;
      display: block;
      @include min-width(367, 0.39);
      @include min-height(86, 0.39);
      @include margin-padding(('m-t': (-86 0.39), 'm-b': (25 0.39) ));
      z-index: 0;
  }
}

 @keyframes move-blink {
   0% { right: 10%; }
  49% { right: 100%; }
  50% { right: -40%; }
  100% { right: 10%; } }

  @keyframes move-btn {
    0% { transform: translateY(0px); }
   100% {  transform: translateY(-3px);  } }

  @keyframes move-item {
   0% { transform: translateY(0px); }
  100% {  transform: translateY(-12px);  } }

  @keyframes move-item-2 {
   0% { transform: translateY(0px); }
  100% {  transform: translateY(12px);  } }

  .animated {
    animation: 1s linear infinite alternate move-item;
  }
  .animated-2 {
    animation: 1s linear infinite alternate move-item-2;
  }
