#screen2 {
  @include margin-padding(('p-t': (55 0.5), 'p-b': (120, 0.7)));
  overflow: hidden;

  .title {
    h3 {
      color: $gray;
      @include margin-padding(('m-t': (25 0.8), 'm-b': (60 0.5) ));
    }

    .img-wrap {
      @include width(44, 0.5);
    }
  }

  .y-rect, .y-rect-small {
    padding: RelativeUnits(5, 0.5) RelativeUnits(10, 0.5);
    background: $yellow;
    @include border-radius(6);
    color: #000;
  }

  .items-array {
    @include width(1200, 0.5);
    max-width: 96vw;

    .item {
      background: #fff;
      @include width(540, 0.5);
      @include max-width(540, 0.5);
      @include min-height(165, 0.5);
      @include margin-padding(('m-b': (50 0.5), 'm-l': (15 0.5), 'm-r': (15 0.5) ));
      flex-grow: 1;
      @include border-radius(6);
      position: relative;
      filter: drop-shadow(0 0 37.5px rgba(32,44,83,0.1));

      &:hover {
        transform: translateY(-0.5vh);
        -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
      }
    }

    .video-preview {
      @include width(180, 0.5);
      @include min-width(180, 0.5);
      @include min-height(145, 0.5);
      @include margin-padding(('m-l': (10 0.5) ));
      overflow: hidden;
      @include border-radius(6);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #3d435b;
        position: absolute;
        z-index: 2;
        opacity: 0.8;
      }

      .y-rect-small {
        z-index: 2;
        width: 80%;
        text-align: center;
        color: #856a26;
        font-weight: 500;
        bottom: 8%;
      }

      .lock-wrap {
        z-index: 2;
        top: 40%;
      }

      img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        max-width: none;
        width: auto;
        transform: translate(-50%, -50%);
      }
    }

    .text-container {
      @include margin-padding(('m-l': (33 0.5), 'm-r': (33 0.5), 'p-t': (29 0.5), 'p-b': (29 0.5) ));
      position: relative;
      height: 100%;

      .grad-circle {
        position: absolute;
        @include width(50, 0.5);
        @include min-height(50, 0.5);
        font-size: RelativeUnits(19, 0.5);
        color: #fff;
        font-weight: 700;
        background: rgb(147,193,75);
        background: linear-gradient(90deg, rgba(147,193,75,1) 0%, rgba(147,193,75,1) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        top: RelativeUnits(-25, 0.5);
      }
    }


  }

  .hand-wrap, .key-wrap, .gift-wrap {
    z-index: 0;
  }

  .hand-wrap {
    @include width(525, 1);
    bottom: RelativeUnits(-25, 1);
    right: RelativeUnits(1200, 0.9);
  }

  .gift-wrap {
    @include width(300, 1);
    right: 0;
    top: 20%;
  }

  .key-wrap {
    @include width(364, 1);
    left: 1%;//RelativeUnits(-200, 1);
    top: 40%;
  }

  @include _phone-big {
    .hand-wrap {
      display: none;
    }

    .title {
      h3 {
        color: $gray;
        margin-bottom: 60px;
      }

      h2 {
        width: 270px;
        text-align: center;
      }

      .img-wrap {
        margin-bottom: 5px;
      }
    }

    .items-array {

      .item {
        background: #fff;
        flex-direction: column;
        margin-bottom: 55px;
        position: relative;
      }

      .video-preview {
        margin-top: -27px;
        margin-left: 0;
        width: 113px;
        min-height: 79px;
      }

      .text-container {
        position: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .grad-circle {
          left: -5px;
          top: -5px;
        }
      }
    }

    .key-wrap {
      top: 42%;
    }
  }
}
