#screen3 {
  background: url('../img/screen3-bg.png');
  @include margin-padding(('p-t': (75 0.5), 'p-b': (150 0.5) ));
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  @include min-height(890, 1);

  .content {
    @include width(730, 0.8);
    @include margin-padding(('m-l': (400 1) ));
  }

  .title {
    @include margin-padding(('m-b': (45, 0.5) ));
    h3 {
      color: $gray;
      @include margin-padding(('m-t': (15 0.5) ));
    }
  }

  .not-book {
    font-family: "Uni Neue";
  }


  .list-item {
    display: flex;
    align-items: center;
    font-family: "Uni Neue Book";

    @include margin-padding(('m-b': (20 0.5) ));
    &:before {
      display: block;
      content: '';
      @include min-width(7, 0.1);
      @include min-height(7, 0.1);
      border-radius: 50%;
      @include margin-padding(('m-r': (7 0.1) ));
      background: #a3cd5b;
    }
  }

  .trophey-wrap {
    @include width(345, 1);
    left: RelativeUnits(-75, 1);
    bottom: RelativeUnits(-155, 1);
  }
}
