#screen2 {
  @include margin-padding(('p-t': (55 0.5), 'p-b': (120, 1)));

  .title {
    h3 {
      color: $gray;
      @include margin-padding(('m-t': (25 0.5), 'm-b': (60 0.5) ));
    }
  }

  .y-rect, .y-rect-small {
    padding: RelativeUnits(5, 0.5) RelativeUnits(10, 0.5);
    background: $yellow;
    @include border-radius(6);
    color: #000;
  }

  .items-array {
    @include width(1100, 0.5);
    max-width: 80vw;

    .item {
      background: #fff;
      @include width(540, 0.5);
      @include max-width(540, 0.5);
      @include min-height(165, 0.5);
      flex-grow: 1;
      @include border-radius(6);
      -webkit-box-shadow: 0px 0px 50px 50px rgba(0,0,0,0.03);
      box-shadow: 0px 0px 50px 50px rgba(0,0,0,0.03);
    }

    .video-preview {
      @include width(180, 0.5);
      @include min-height(145, 0.5);
      @include margin-padding(('m-l': (10 0.5) ));
      overflow: hidden;
      @include border-radius(6);
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: #3d435b;
        position: absolute;
        z-index: 2;
        opacity: 0.8;
      }

      .y-rect-small {
        z-index: 2;
        width: 80%;
        text-align: center;
        color: #856a26;
        font-weight: 700;
        bottom: 8%;
      }

      .lock-wrap {
        z-index: 2;
        top: 40%;
      }

      img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        max-width: none;
        width: auto;
        transform: translate(-50%, -50%);
      }
    }

    .text-container {
      @include margin-padding(('m-l': (33 0.5), 'm-r': (33 0.5) ));
      position: relative;
      height: 100%;

      .grad-circle {
        position: absolute;
        @include width(50, 0.5);
        @include min-height(50, 0.5);
        font-size: RelativeUnits(19, 0.5);
        color: #fff;
        font-weight: 700;
        background: rgb(147,193,75);
        background: linear-gradient(90deg, rgba(147,193,75,1) 0%, rgba(147,193,75,1) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        top: RelativeUnits(-25, 0.5);
      }
    }
  }

}
