@font-face {
   font-family: "Uni Neue";
   src: url("../fonts/UNINEUETHIN.TTF");
   font-weight: 100;
  }

@font-face {
    font-family: 'Uni Neue';
    src: url("../fonts/UNINEUEREGULAR.TTF");
   }

@font-face {
   font-family: "Uni Neue";
   src: url("../fonts/UNINEUEHEAVY.TTF");
   font-weight: 700;
  }

@font-face {
   font-family: "Uni Neue";
   src: url("../fonts/UNINEUEBOLD.TTF");
   font-weight: 500;
  }

@font-face {
   font-family: "Uni Neue";
   src: url("../fonts/UNINEUEBLACK.TTF");
   font-weight: 900;
  }

@font-face {
   font-family: "Uni Neue Book";
   src: url("../fonts/UNINEUEBOOK.TTF");
  }
